.adv_card {
    & img {
        margin-bottom: 20px;
    }

    & .adv_card-text {
        & h4 {
            color: #020c31;
            font-family: "Unbounded Semibold";
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            text-transform: capitalize;
            margin-bottom: 8px;
        }

        & p {
            color: #676d83;
            font-family: "SF Pro Display Regular";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            max-width: 300px;
        }
    }
}