footer {
    padding: 60px 0;
    margin-bottom: 40px;

    .f-top {
        display: flex;
        justify-content: space-around;

        & h2 {
            font-size: 24px;
            font-family: "Unbounded Bold";
            text-decoration: none;
            color: #04009a;
        }

        & .top-right {
            & .location {
                display: flex;
                align-items: center;
                column-gap: 16px;
                margin-bottom: 20px;
                cursor: pointer;

                & i {
                    padding: 10px;
                    border: 1px solid rgb(204, 204, 204);
                    border-radius: 8px;
                }
            }

            & .phone {
                display: flex;
                align-items: center;
                column-gap: 16px;
                cursor: pointer;

                & i {
                    padding: 10px;
                    border: 1px solid rgb(204, 204, 204);
                    border-radius: 8px;
                }
            }
        }
    }

    & .social {
        display: flex;
        justify-content: space-evenly;
        row-gap: 16px;
        column-gap: 16px;
        padding-top: 32px;
        margin-top: 32px;
        border-top: 1px solid rgb(204, 204, 204);

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            width: 330px;
            column-gap: 16px;
            border-radius: 30px;
            background: rgb(242, 242, 242);
        }
    }
}

@media screen and (max-width: 1360px) {
    footer {
        & .f-top {

            & h2 {
                margin-bottom: 32px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    footer {
        & .f-top {
            flex-direction: column;

            & h2 {
                margin-bottom: 32px;
            }
        }

        & .social {
            flex-direction: column;

            & a {
                width: 100%;
            }
        }
    }
}